@use "./variables" as *;
@use "./typography" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin text-style($size, $line-height, $weight) {
    font-size: $size;
    line-height: $line-height;
    font-weight: $weight;
  }

@mixin set-flex($flex-direction: row){
    display:flex;
    flex-direction: $flex-direction;
}

@mixin set-focus{
  border: 2px solid $brainflix-blue;
}

@mixin set-font-family{
  font-family: "AvenirNextLTPro", "Nunito";
}
// @mixin add-devider{
//   border-width: 1px;
//   border-color: $mercury;
//   border-style: solid;
// }