@use "./variables" as *;
@use "./typography" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin text-style($size, $line-height, $weight) {
    font-size: $size;
    line-height: $line-height;
    font-weight: $weight;
  }

@mixin set-flex($flex-direction: row){
    display:flex;
    flex-direction: $flex-direction;
}

@mixin set-focus{
  border: 2px solid $brainflix-blue;
}

@mixin set-font-family{
  font-family: "AvenirNextLTPro", "Nunito";
}

@mixin set-label-error{
  color:$red-error;
  font-weight: $font-weight-regular;
  font-size: 0.6rem;
  text-transform: lowercase;
}

@mixin set-input-invalid{
  border: 1px solid $red-error;
}
