$tablet-breakpoint: 48rem; //768px;
$desktop-breakpoint: 80rem; //1280px;

$font-weight-regular: 400;
$font-weight-demi: 600;
$font-weight-bold: 700;

//primary colors
$brainflix-black : #323232;
$brainflix-blue: #0095ff;
$silver : #afafaf;
$white : #ffffff;

//secondary colors
$brainflix-dark-black : #000000;
$brainflix-dark-blue: #0065ad;
$mercury : #e1e1e1;
$alabaster : #fafafa;
$red-error: #D22D2D;
$disabled-text : #999999;
$disabled-background : #cccccc; 

//paddings
$mobile-padding: 1rem;
$mobile-padding-top: 1.5rem;
$mobile-padding-bottom: 1.25rem;

$tablet-padding: 2.25rem;
$tablet-padding-top: 1.5rem;
$tablet-padding-bottom: 1.5rem;

$desktop-padding: 9rem;
$desktop-padding-top: 2.25rem;
$desktop-padding-bottom: 2rem;

//margins
$mobile-margin: 1rem;
$tablet-margin: 2.25rem;
$desktop-margin: 9rem;