@use "../../styles/partials/reset" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.header {
  background-color: $white;
  font-family: "AvenirNextLTPro", "Nunito";
  &__btn {
    &-wrapper {
      position: relative;
    }
    &-icon {
      position: absolute;
      left: 10px;
      top: 40%;
      transform: translateY(-50%);
    }
  }
  &__content {
    margin: 1rem;
    box-sizing: border-box;

    @include set-flex(column);
    gap: 1rem;
    @include tablet {
      margin-left: $tablet-margin;
      margin-right: $tablet-margin;
      @include set-flex;
      justify-content: space-between;
    }
    @include desktop {
      margin-left: $desktop-margin;
      margin-right: $desktop-margin;
    }
  }
  &__right {
    @include set-flex;
    gap: 1rem;
    @include tablet {
      gap: 2rem;
    }
  }

  &__search {
    width: 100%;
    &::placeholder {
      color: $brainflix-black;
      position: absolute;
      left: 30px;
      top: 50%;
      transform: translateY(-50%);
    }
    &-avatar-wrapper {
      @include set-flex;
      gap: 1rem;
      box-sizing: border-box;
      @include tablet {
        width: 15rem;
      }
    }
    &:focus {
      @include set-focus;
    }

    &-wrapper {
      width: 100%;
      position: relative;
    }
    &-icon {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__form {
    @include set-flex(column);
    gap: 1rem;
    width: 100%;
    @include tablet {
      @include set-flex;
    }
  }

  &__logo {
    width: 7.5rem;
    height: 1.563rem;

    &-wrapper {
      @include tablet {
        @include set-flex;
        align-content: flex-start;
        align-items: center;
        // width: 40%;
      }
    }
  }

  &__avatar {
    &-mobile {
      @include tablet {
        display: none;
      }
    }
    &-tablet {
      display: none;
      @include tablet {
        @include set-flex(column);
      }
    }
    &-img {
      border-radius: 50%;
      width: 2.25rem;
      height: 2.25rem;
      @include tablet {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}
