@use "../../styles/partials/reset" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;


//main video details
.information{
  padding-top: $mobile-padding-top;
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;
  @include tablet {
    padding-left: $tablet-padding;
    padding-right: $tablet-padding;
    padding-top: $tablet-padding-top;
  }
  @include desktop{
    padding-left: $desktop-padding;
    padding-top: $desktop-padding-top;
  }
}
.info {
  &__title {
    margin-top: 0;
    margin-bottom: $mobile-margin;
    &-wrapper {
      text-align: left;
      border-bottom: 1px $mercury solid;
      @include tablet {
        border-bottom: none;
      }
    }
  }

  &__details-wrapper {
    @include set-flex;
    border-bottom: 1px $mercury solid;
    @include tablet{
      justify-content: space-between;
    }
  }
  &__details {
    @include set-flex(column);
    align-items: flex-start;
    @include tablet {
      @include set-flex;
      gap: $tablet-padding;
    }
    &-first {
      width: 65%;
    }
    &-content {
      @include set-flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
  // &__channel {
  //   font-weight: $font-weight-demi;
  // }
  &__date {
    color: $silver;
  }
  &__views {
    color: $silver;
  }
  &__likes {
    color: $silver;
  }
}

//main video description
.description{
  &__content{
    text-align: left;
  }
}



//comments
.comments {
  font-family: AvenirNextLTPro;
  background-color: $white;
  &__count{
    text-align: left;
  }

  &__container{
    padding-top: 0.5rem;
  padding-bottom: 1rem;
  @include tablet{
    padding-top: $tablet-padding-top;
    padding-bottom: $tablet-padding-bottom;
  }
  @include desktop{
    padding-top: $desktop-padding-top;
    padding-bottom: $desktop-padding-bottom;
  }
  }
  // &__container {
  //   padding: 1rem;
  //   @include tablet {
  //     padding-left: 2.25rem;
  //     padding-right: 2.25rem;
  //   }
  //   @include desktop {
  //     padding-left: 9rem;
  //     padding-right: 9rem;
  //   }
  // }
  &__display {
    border-bottom: 1px solid $mercury;
    // @include tablet {
    //   padding-left: 3.75rem;
    //   padding-right: 3.75rem;
    // }
    // @include desktop {
    //   padding-left: 9rem;
    //   padding-right: 9rem;
    // }
  }
  &__list {
    @include set-flex(column);
  }
  &__header {
    text-transform: uppercase;
    color: $silver;
    text-align: left;
  }
}

.form {
  @include set-flex;
  // justify-content: space-between;
  box-sizing: border-box;
  gap: 1rem;
  // padding-top: 1.5rem;
  padding-bottom: 1rem;
  // @include tablet{
  //   padding-top: $tablet-padding-top;
  //   padding-bottom: $tablet-padding-bottom;
  // }
  // @include desktop{
  //   padding-top: $desktop-padding-top;
  //   padding-bottom: $desktop-padding-bottom;
  // }

  // &__wrapper {
  //   @include tablet {
  //     padding-left: 3.75rem;
  //     padding-right: 3.75rem;
  //   }
  //   @include desktop {
  //     padding-left: 9rem;
  //     padding-right: 9rem;
  //   }
  // }

  &__avatar {
    padding-top: 2.5rem;
    &-img {
      border-radius: 50%;
      width: 2.25rem;
      height: 2.25rem;
      @include tablet {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }

  &__new-comment {
    width: 100%;
    @include set-flex(column);
    gap: 0.25rem;
    &-container {
      @include set-flex(column);
      gap: 1rem;
      width: 100%;
    }
  }

  &__right{
    @include set-flex(column);
    gap: 1rem;
    @include tablet{
      @include set-flex;
    }
  }
  &__section {
    @include set-flex(column);
    gap: 0.25rem;
  }

  &__field{
    @include tablet{
      height: 2.5rem;
    }
  }
  // &__label {
  //   color: $silver;
  // }
  // &__field {
  //   border: 1px solid;
  //   background-color: $alabaster;
  //   border-color: $mercury;
  //   border-radius: 4px;
  //   padding: 0.75rem;
  //   @include tablet {
  //     padding: 1rem;
  //   }
  //   &:focus {
  //     @include set-focus;// doesmt work
  //   }
  // }
  &__name {
    height: 2.25rem;
    @include tablet {
      height: 3rem;
    }
  }
  &__button {
    //   height: 2.5rem;
    //   border-radius: 4px;
    //   background-color: $brainflix-black;
    //   color: $white;
    //   width: 100%;
    //   @include tablet {
    //     width: 9.375rem;
    //     padding-left: 2rem;
    //     padding-right: 2rem;
    //   }
    //   &:hover {
    //     background-color: $brainflix-dark-black;
    //   }
    &-wrapper {
      display: flex;
      justify-content: flex-end;
      padding-bottom: 1rem;
    }
  }
}

.comment {
  display: flex;
  gap: 1rem;
  // justify-content: space-between;
  &__avatar {
    border-radius:50%;
    background-color: $mercury;
    width: 2.25rem;
    height: 2.25rem;
    @include tablet {
      width: 2.5rem;
      height: 2.5rem;
    }
    &-wrapper {
      padding-top: 0.5rem;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
  }
  &__author {
    font-weight: $font-weight-demi;
  }
  &__date {
    color: $silver;
  }
  &__text{
    text-align: left;
  }
  &__par {
    margin-top: 0px;
  }
  &__content {
    border-top: 1px solid $mercury;
    width: 100%;
  }
}
